---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Home | GĐPT Anôma">
    <Card>
        <div class="text-3xl font-bold text-gdpt_gray text-center">Announcements</div>
    </Card>
</Layout>
